name: build

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    concurrency: 
      group: ${{ github.ref }}
      cancel-in-progress: true
    runs-on: actuated-8cpu-12gb
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Make
        run: make all
