name: publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: actuated-8cpu-16gb
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: Make
        run: make all

      - name: Upload release binaries
        uses: alexellis/upload-assets@0.4.1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          asset_paths: '["./uploads/*"]'
